*{
    background-color: black;
    box-sizing: border-box;
}

/*Header, Nav de los 5 html*/
/*Estilos mobile*/

.logo{
    width: 300px;
}

.nav-link{
    color: whitesmoke;
}


/*footer de los 5 html*/

footer p{
    color: antiquewhite;
    text-align: center;
}


/*section del index*/

.imagen-principal{
    display: flex;
    width: 100%;
}


/*main de autos.html y camionetas.html*/

main .imagen-uno, main .imgagen-tres, main .imagen-cinco{
    display:none
}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    margin: 0 30px;
    height: 50vh;

    display: grid;
    grid-template-rows: repeat(3,95%);
    grid-template-columns: 2fr;
    row-gap: 20px;
}

/*mq desktop de autos.html y camionetas.html*/
@media screen and (min-width:1024px) {
   main .imagen-tres, main .imagen-cinco{
    display: block;
   }

   main{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40% 30% 40%;
   }
   
   main .imagen-uno {
    grid-row: span 2;
   }
   main .imagen-tres{
    grid-row: span 2;
   }
   main .imagen-dos{
    grid-row:span 2;
   }
    main .imagen-cuatro{
     grid-row: span 4;
    }

    main .imagen-cinco{
        grid-row: span 2;
    }

    main .imagen-seis{
        grid-row: span 2;
    }
}

/*cards formas de pago*/
.card{
    display: flex;
    display: inline-block;
    color: whitesmoke;
}

/*mapa local*/
.local-mapa{
    text-align: center;
}

/*h1 de index/formas de pago/local */
.titulo-uno{
    text-align: center;
    color: #D3AE6F;
}


