@import "variables";
@import "mixin";

/*estilos-main-camionetas*/

.main-autos-camionetas{
    @include grid;

    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    div{
        h1{
            color: $color-principal;
            text-align: center;
        }
    }

    .imagen-uno{
        display: none;
    }

    .imagen-cinco{
        display: none;
    }

    .imagen-tres{
        display: grid;
        grid-row: span 2;
        width: 100%;
        object-fit: cover;
        margin-top: 60px;
    }

    .imagen-dos{
        display: grid;
        grid-row: span 2;
    }

}

/*mq-desktop-camionetas*/

@media screen and (min-width: 1024px) {
    .main-autos-camionetas{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 40% 40% 40%;
        margin: 0%;
        height: 40vh;

        .imagen-tres{
            display: block;
            grid-row: span 2;
        }
        .imagen-cinco{
            display: block;
        }
        .imagen-uno{
            grid-row: span 2;
        }
        .imagen-dos{
            grid-row: span 2;
            width: 400px;
            margin-top: 60px;
        }
        .imagen-cuatro{
            grid-row: span 4;
            margin-bottom: 20px;
            margin-right: 50px;
        }
        .imagen-cinco{
            grid-row: span 2;
            width: 400px;
            margin-top: 240px;
        }
        .imagen-seis{
            grid-row: span 2;
        }
    }
}