@import "variables";
@import "mixin";

/*estilos-body-camionetas*/
body{
    margin: 0;
    padding: 0;
    background-color: $color-general;
  }
  
  /*estilos-main-camionetas*/
  .gallery-container{
      @include flex;
        h1{
          color: $color-principal;
        }
        .gallery-grid{
          display: grid;
          gap: 10px;
          width: 100%;
          height: calc(100vh - 60px);
            .gallery-item{
              position: relative;
              overflow: hidden;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
          }
      }
  }
  
  /*mq-mobile-camionetas*/
  @media (max-width: 767px) {
    .gallery-container{
      .gallery-grid {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, 1fr); 
      } 
    }
  }
  
  /*mq-tablets-camionetas*/
  @media (min-width: 768px) {
    .gallery-container{
      .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
  
  /*mq-desktop-camionetas*/
  @media (min-width: 1024px) {
    .gallery-container{
      .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
      }
    }
  }

