@import "variables";

/*estilos-body-formas-de-pago*/

body{
    background-color: black;
}

/*estilos-main-formasdepago*/

.main-formas-de-pago{
    section{
        h1{
            color: $color-principal;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}

section{
    .card{
        display: flex;
        display: inline-block;
        background-color: $color-general;
        color: $color-terciario;
        border: solid, $color-terciario;
        margin-left: 18px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

/*mq-tablets-formas-de-pago*/
@media (min-width: 768px) {
    section{
        .card{
            margin-left: 15px;
        }
    }
  }

/*mq-desktop-formas-de-pago*/

@media screen and (min-width:1024px){
    section{
        .card{
            margin-left: 35px;
            margin-right: 25px;
        }
    }
}