@import "variables";

/*estilos-main-formasdepago*/

.main-formas-de-pago{
    height: 10vh;
    section{
        h1{
            color: $color-principal;
            margin-top: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
}
}

section{
    .card{
        display: flex;
        display: inline-block;
        color: $color-terciario;
        margin-left: 18px;
        margin-right: 10px;
    }
}


/*mq-desktop-formas-de-pago*/

@media screen and (min-width:1024px){
    section{
        .card{
            margin-left: 35px;
            margin-right: 25px;
        }
    }
}