@import "variables";

/*estilos-body-index*/

body{
   background-color: $color-general;
}

/*estilos-header-index*/

header{
    div{
        nav{
            div{
                a{
                    .logo{
                        width: 300px;
                    }
                }
            }
        }
    }
    div{
        ul{
            li{
                .nav-link{
                    color: $color-terciario;
                }
            }
        }
    }
}

/*estilos-main-index*/

main{

    section{
        h1{
            color: $color-principal;
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            text-align: center;
            color: $color-secundario;
            font-size: 15px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

div{
    .imagen-principal{
        object-fit: cover;
        width: 100%;
    }
}

/*estilos-footer-index*/

footer{
    p{
        color: $color-terciario;
        text-align: center;
        font-size: 12px;
    }
}


/*mq-tablets-index*/

@media (min-width: 768px) {
    main{
        div{
            .imagen-principal{
                margin-bottom: 15px;
            }
        }
    }
  }

/*mq-desktop-index*/

@media screen and (min-width:1024px){
    main{
        section{
            p{
                font-size: 18px;
            }
        }
    }
    div{
        .imagen-principal{
            display: flex;
            width: 100%;
            margin-top: 10px;
        }
    }
    footer{
            p{
                font-size: 15px;
            }
    }
}
