@import "variables";

/*estilos-body-local*/

body{
    background-color: black;
}

/*estilos-main-local*/

.main-local{
    section{
        h1{
            color: $color-principal;
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            text-align: center;
            color: $color-secundario;
            font-size: 15px;
        }
}
}

.local-mapa{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

/*mq-tablets-local*/

@media (min-width: 768px) {
    .local-mapa{
        display: flex;
        justify-content: center;
    }
  }

/*mq-desktop-local*/

@media screen and (min-width:1024px){
    .main-local{
        section{
            p{
                text-align: center;
                color: $color-secundario;
                font-size: 20px;
            }
        }
    } 

    .local-mapa{
        display: flex;
        justify-content: center;
    }
}